//-
//- Copyright 2016 (C) Diglias AB
//-
//- @author jonas
//-
doctype html
html
  head
    title= 'Diglias GO - node.js sample application'
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
