//-
//- Copyright 2016 (C) Diglias AB
//-
//- @author jonas
//-
extends layout

block content
    h1= 'Rejected'
    p= 'Authentication rejected by server'
    p 
        em Error code:&nbsp;
        =code
    p
        em Error message:&nbsp;
        =message
 