//-
//- Copyright 2016 (C) Diglias AB
//-
//- @author jonas
//-
extends layout

block content
    h1= 'Success'
    p Authenticaton sucessful
    table
        tr
            th Parameter
            th Value
        each val, index in body
            tr
                td= index
                td= val
    p   
        a( href="/authenticate" ) Authenticate again