//-
//- Copyright 2016 (C) Diglias AB
//-
//- @author jonas
//-
extends layout

block content
  h1= "Canceled"
  p= "Authentication cancled by user"
  p   
        a( href="/authenticate" ) Try again
  