{{!
Copyright 2017 (C) Diglias AB
@author jonas
}}
{{> header}}
<h1>Diglias GO node.js sample application</h1>
<p>Click the link to authenticate: <a href="/authenticate">Authenticate</a></p>
{{> footer}}