//-
//- Copyright 2016 (C) Diglias AB
//-
//- @author jonas
//-
extends layout

block content
    h1= 'Diglias GO node.js sample application'
    p Click the link to authenticate: 
        a( href="/authenticate") Authenticate
