{{!
Copyright 2017 (C) Diglias AB
@author jonas
}}
{{> header}}
<h1>Level-up required</h1>
<p>The diglias profile is missing verified personal identification number. Please supply a PIN.</p>
<form name="pin-form" method="post" action="/authenticate/begin-level-up">
    <div class="input">
        <span class="label">PIN</span>
        <input type="text" name="pin">
    </div>
    <div class="actions">
        <input type="submit" value="Level-up">
    </div>
</form>
{{> footer}}
